@import '../Style/colors.scss';

%font-reset{
    color: #333;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,a,a:hover,a:visited,span,ul,li{
    @extend %font-reset;
}

.text{

    @extend %font-reset;

    //Color
    &--color{
        @extend .text;
        &--default{
            @extend .text--color;
            color: map-get($colors, text);
        }
        &--primary{
            @extend .text--color;
            color: map-get($colors, black);
        }
        &--gray{
            @extend .text--color;
            color: map-get($colors, dargGray);
        }
        &--light{
            @extend .text--color;
            color: map-get($colors, grayDark);
        }
        &--blue{
            @extend .text--color;
            color: map-get($colors, brandBlue);
        }
        &--negative{
            @extend .text--color;
            color: map-get($colors, white);
        }
    }

    //Size
    &--size{
        @extend .text;
        &--default{
            @extend .text--size;
            font-size: 16px;
        }
        &--xs{
            @extend .text--size;
            font-size: 10px;
        }
        &--sm{
            @extend .text--size;
            font-size: 14px;
        }
        &--md{
            @extend .text--size;
            font-size: 18px;
        }
        &--lg{
            @extend .text--size;
            font-size: 21px;
        }
        &--xl{
            @extend .text--size;
            font-size: 24px;
        }
    }

    //Transform
    &--special{
        @extend .text;
        &--underline{
            @extend .text--special;
            text-decoration: underline;
        }
        &--capitalize{
            @extend .text--special;
            text-transform: capitalize;
        }
        &--uppercase{
            @extend .text--special;
            text-transform: uppercase;
        }
        &--lowercase{
            @extend .text--special;
            text-transform: lowercase;
        }
    }

    //Mods
    &--mod{
        @extend .text;
        &--default{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--hello{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--menu{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--submenu{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--page-title{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--card{
            @extend .text--mod, .text--color--blue, .text--size--md;
            &---title{
                @extend .text--mod--card, .text--color--blue, .text--size--md;
            }
        }
        &--accordion{
            @extend .text--mod, .text--color--blue, .text--size--md;
            &--title{
                @extend .text--mod--accordion, .text--color--blue, .text--size--md;
            }
        }
        &--description{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--label{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--value{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--option{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--editor{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
        &--table{
            @extend .text--mod, .text--color--blue, .text--size--md;
            &--header{
                @extend .text--mod--table, .text--color--blue, .text--size--md;
            }
        }
        &--copy{
            @extend .text--mod, .text--color--blue, .text--size--md;
        }
    }

}
